<a href="https://colab.research.google.com/github/alesauerprof/SimplificaPython/blob/main/004_VariaveisParteII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simplifica Python
---
ü§ñ **Vari√°veis - Parte 02**

Continuando nossa jornada de estudos das vari√°veis, agora vamos mergulhar um pouco mais fundo nesse mundo.  

Vamos aprender os seguintes t√≥picos nesta aula::

‚úî Concatena√ß√£o de strings

‚úî Convers√£o de tipos

---
***1 - Concatena√ß√£o de Strings***


* Concatenar vari√°veis em Python significa combinar duas ou mais vari√°veis em uma √∫nica sequ√™ncia de caracteres (string).
* Isso √© uma tarefa comum ao trabalhar com strings, e Python oferece v√°rias maneiras de realizar essa opera√ß√£o.
* Vamos ver as principais t√©cnicas de concatena√ß√£o de vari√°veis em Python com exemplos.

**Exemplo 01:**

In [ ]:
nome = "Alexandre"
sobrenome = "Sauer"
nome_completo = nome + " " + sobrenome
print(nome_completo)  # Sa√≠da: "Jo√£o Silva"

Jo√£o Silva

Nesse exemplo:

* O operador de adi√ß√£o (+) √© usado para concatenar strings em Python. Voc√™ simplesmente adiciona duas strings usando o operador de adi√ß√£o.

**Exemplo 02:**

In [ ]:
nome = "Maria"
idade = 30
mensagem = f"Ol√°, meu nome √© {nome} e eu tenho {idade} anos."
print(mensagem)  # Sa√≠da: "Ol√°, meu nome √© Maria e eu tenho 30 anos."

Ol√°, meu nome √© Maria e eu tenho 30 anos.

Nesse exemplo:

* √â usado um recurso chamado f-strings, dispon√≠vel apenas nas vers√µes do python acima da3.6.
* As f-strings s√£o uma forma mais recente e conveniente de concatenar vari√°veis em strings. Voc√™ pode incorporar vari√°veis diretamente em uma string prefixada por 'f' e chaves {}.
* √â importante adicionar o caracter f antes da aspas duplas.

***1 - Convers√£o de Tipos***


* A convers√£o de tipos (tamb√©m conhecida como "**casting**") √© o processo de transformar um valor de um tipo de dado em outro tipo de dado. Isso √© √∫til quando voc√™ precisa realizar opera√ß√µes que exigem tipos de dados compat√≠veis ou quando deseja exibir um valor de uma forma espec√≠fica. Vamos ver alguns exemplos de convers√£o de tipos em Python:

**Exemplo 01: Convers√£o de int para float:**

In [1]:
x = 10
y = float(x) # Aqui estou dizendo que a vari√°vel x, que at√© ent√£o era um int, ser√° convertida para float.
print(y)  # Isso imprimir√° 10.0

10.0

**Exemplo 02: Convers√£o de float para int (arredondando para baixo):**

In [2]:
x = 10.5
y = int(x)
print(y)  # Isso imprimir√° 10

10

**Exemplo 03: Convers√£o de string para int ou float:**

In [3]:
num_str = "42"
num_int = int(num_str)
num_float = float(num_str)
print(num_int)    # Isso imprimir√° 42
print(num_float)  # Isso imprimir√° 42.0

42
42.0

**Exemplo 04: Convers√£o de int para string:**

In [4]:
x = 123
x_str = str(x)
print(x_str)  # Isso resultar√° na string "123"

123

**Exemplo 05: Convers√£o de string para lista (separando por v√≠rgulas,por exemplo):**

In [5]:
csv = "1,2,3,4,5"
list_from_csv = csv.split(',')
print(list_from_csv)  # Isso resultar√° em uma lista ['1', '2', '3', '4', '5']

['1', '2', '3', '4', '5']

**Exemplo 06: Convers√£o de lista para string (juntando elementos):**

In [6]:
my_list = ['apple', 'banana', 'cherry']
list_as_str = ', '.join(my_list)
print(list_as_str)  # Isso resultar√° na string "apple, banana, cherry"

apple, banana, cherry

**Exemplo 07: Convers√£o de string para boolean:**

In [11]:
true_str = "True"
false_str = "False"
true_bool = bool(true_str)
false_bool = bool(false_str)
print(true_bool)  # Isso imprimir√° True
print(false_bool)  # Isso imprimir√° True (qualquer string n√£o vazia √© considerada True)

True
True

**Exemplo 08 Convers√£o de boolean para int:**

In [10]:
true_bool = True
false_bool = False
true_int = int(true_bool)
false_int = int(false_bool)
print(true_int)  # Isso imprimir√° 1
print(false_int)  # Isso imprimir√° 0

1
0

---
‚úÖ Se tiverem d√∫vidas adicionais ou precisarem de assist√™ncia com seus projetos, n√£o hesitem em entrar em contato. Estou aqui para ajudar.

[Simplifica Treinamentos](https://www.simplificatreinamentos.com.br/)